@font-face{
    font-family:Roboto;
    src:url(fonts/roboto.woff2);
}

body{
    font-family: Roboto;
    font-size:16px;
}

.services-list{
    list-style: none;
}

.buttonOrderRed{
    background-color: #fb565a;
}

.buttonOrderGreen{
    background-color:#00ca74;
}

.buttonOrderYellow{
background-color: #efc84a;
}

.about-us h2{
    font-size: 45px;
}

th{
    font-size: 45px;
    font-weight: bold;
}

.our-pages li{
    background-color: #e1e1e1;
    
}

.our-pages{
    list-style: none;
}

.main-nav-list{
    list-style: none;
}

.button.red-button{
    background-color: #fb565a;
}

.our-works{
    list-style: none;
}

.works{
    list-style: none;
}

.page-list{
    list-style: none;
}

.sort-list{
    list-style: none;
    
}

.sort-list .button{
    background-color: #ffffff;
    border:none;
}

header{

            background-color: #eeeeee;
}

a{
    text-decoration: none;
    color:#000000;
}

.main-nav-list li a:hover{
color:#fb565a;
}

.main-nav-list li a:active{
    color: rgba(0, 0, 0, 0.302);
}

.button.red-button:hover{
    background-color: #e74246;
}

.button.red-button:active{
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.302);
}

.buttonOrderGreen:hover{
background-color: #00bc6c;
}

.buttonOrderGreen:active{
    background-color: #00aa62;
    color: rgba(0, 0, 0, 0.302);
    }

 .buttonOrderYellow:hover{
     background-color: #eab534;
 }   

 .buttonOrderYellow:active{
     background-color: #e5a722;
     color: rgba(0, 0, 0, 0.302);
 }



  

